@import "layout.scss";

// @font-face {
//   font-weight: normal;
//   font-display: swap; /*как будет отображаться текст пока не загружег шрифт*/
//   font-style: normal;
// }

body {
  color: $primaryColor;
  background-color: $primaryColor;

}

.ba-header {
  height: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items:center;
  }
}

// .menu-btn{
      
// }