@charset "UTF-8";
* {
  box-sizing: border-box; }

.container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  height: 100%; }

.ba-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.ba-row + .ba-row {
  margin-top: 1rem; }

[class^='ba-col-'] {
  padding: 0 15px; }

body {
  color: #000000;
  background-color: #ffffff;
  font-family: 'Raleway', sans-serif;
  padding: 50px 50px 0 50px; }

.ba-header {
  display: flex;
  background: url(../img/sec1bg.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat; }
  .ba-header-wrapper {
    display: flex;
    position: absolute;
    right: 60px;
    top: 38px; }

.ba-menu-btn {
  display: inline-flex; }
  .ba-menu-btn__text {
    margin-right: 10px; }
  .ba-menu-btn-block {
    color: #000000;
    height: 15px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .ba-menu-btn-block__line {
      display: block;
      width: 100%;
      height: 1px;
      background-color: #60606e; }

.ba-menu-btn:hover {
  transform: scale(1.2); }

.ba-menu-block {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100vh;
  background-color: #b0b0b0;
  transform: translateY(0);
  transition: 0.4s;
  z-index: 5; }

/* Выпадащее меню */
#menuOpen:checked ~ .ba-menu-block {
  transform: translateY(100%); }

.ba-menu {
  display: flex;
  /* justify-content: space-between; */
  list-style: none; }

.ba-menu__link {
  font-size: 1.5em;
  color: #fff;
  padding: 0 1em; }

/* Animation menu */
.ba-menu__item {
  opacity: 0;
  transform: translateY(-1.25em) scale(1.25);
  transition: transform .5s ease, opacity .2s; }

#menuOpen:checked ~ .ba-menu-block .ba-menu__item {
  transform: none;
  opacity: 1; }

#menuOpen:checked ~ .ba-menu-block .ba-menu__item:first-child {
  transition-delay: .75s; }

#menuOpen:checked ~ .ba-menu-block .ba-menu__item:nth-child(2) {
  transition-delay: .85s; }

#menuOpen:checked ~ .ba-menu-block .ba-menu__item:nth-child(3) {
  transition-delay: .95s; }

#menuOpen:checked ~ .ba-menu-block .ba-menu__item:nth-child(4) {
  transition-delay: 1.05s; }

#menuOpen:checked ~ .ba-menu-block .ba-menu__item:nth-child(5) {
  transition-delay: 1.15s; }

.visually-hidden {
  position: absolute;
  left: -9999999px;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: 0;
  overflow: hidden; }

.ba-letter {
  display: block;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 101; }

.ba-letter:first-child {
  margin-left: 50px; }

.block {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%; }
  .block-text {
    width: 50%;
    max-width: 500px;
    position: relative; }
    .block-text__title {
      display: flex;
      align-items: center;
      font-size: 50px;
      font-weight: 100; }
      .block-text__title span {
        font-weight: 700; }
  .block-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .block__img-bg {
    height: 100%; }
  .block-slider__first {
    width: 30%; }
  .block-slider__second {
    width: 30%; }
  .block-slider__third {
    width: 30%; }

.ba-section {
  margin-bottom: 50px;
  background-color: #efefef;
  height: 800px;
  position: relative; }

.ba-social {
  width: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none; }
  .ba-social__items {
    width: 33px;
    height: 33px;
    background-color: #909090;
    display: flex;
    justify-content: center;
    align-items: center; }
  .ba-social__items:hover {
    background-color: #000000; }

.block-text__befor-line:first-child {
  margin-right: 20px;
  display: inline-flex;
  content: "";
  background-color: #000000;
  height: 1px;
  width: 60px;
  padding-right: 37px; }

.header--text {
  padding-top: 240px;
  margin-left: 175px; }

.--ut {
  margin-left: 180px; }

.--сenter {
  justify-content: center; }

.block-text--after::after {
  display: block;
  content: "";
  background-color: #000000;
  height: 60px;
  width: 1px;
  padding-top: 37px;
  position: absolute; }

.ba-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px; }

.ba-form {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .ba-form-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; }
    .ba-form-inputs input {
      width: 48%;
      border: solid #000000 1px;
      background-color: transparent;
      padding: 12px 20px; }
  .ba-form textarea {
    width: 100%;
    border: solid #000000 1px;
    background-color: transparent;
    padding: 12px 20px;
    margin-bottom: 20px; }
  .ba-form__btn {
    width: 100%;
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    color: #ffffff;
    background-color: #000000;
    font-weight: 700; }

.control-left, .control-right {
  padding: 20px 30px;
  width: 75px;
  height: 75px;
  background-color: #ffffff;
  color: #000000;
  position: absolute;
  top: 47%; }

.control-left {
  left: 20px; }

.control-right {
  right: 20px; }

.fotorama__arr--next::before, .fotorama__arr--prev::before {
  padding: 30px 30px;
  width: 45px;
  height: 45px;
  background-color: #ffffff;
  position: absolute;
  transform: translateY(-45%);
  font-family: fontawesome;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center; }

.fotorama__arr--next::before {
  content: '\f105';
  right: 10px; }

.fotorama__arr--prev::before {
  content: '\f104';
  left: 10px; }
